<%@ CodeTemplate Language="C#" TargetLanguage="C#" ResponseEncoding="utf-8" Description="数据模型集合模板"  %>
<%@ Register Name="Common" Template="Common.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Register Name="Model" Template="Model.cst" MergeProperties="False" ExcludeProperties="" %>
<%@ Property Name="DB" Type="SchemaExplorer.DatabaseSchema" Default="DB_NGIG_F" Category="Data" Description="数据库对象" %>
<%@ Property Name="Tables" Type="SchemaExplorer.TableSchemaCollection" Default="" Optional="False" Category="Data" Description="数据表集合对象" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="Directory" Type="String" Default="F:\\NGIG Client\\" Optional="False" Category="内容" Description="输出的文件夹" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="OutputFile" Type="Boolean" Default="false" Optional="False" Category="内容" Description="是否输出到文件" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="NameSpace" Type="String" Default="NGIG.Model" Optional="False" Category="内容" Description="命名空间" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Property Name="Creater" Type="String" Default="jinchuanliang" Optional="False" Category="内容" Description="创建者" OnChanged="" Editor="" EditorBase="" Serializer="" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%@ Import Namespace="System.Collections" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Import Namespace="SchemaExplorer" %>
<%
Common com = new Common();
%>
<%
foreach(TableSchema t in Tables)
{	
	Model m = new Model();	
	m.DB=DB;	
	m.Table = t;
	m.NameSpace = NameSpace;
	m.Creater = Creater;
	m.OutputFile = OutputFile;	
	m.FileName = Directory + t.Name.Remove(0,3) + ".cs";
	m.Render(this.Response);
}
%>
<script runat="template">

</script>